.paragraphTitle {
    display: flex;
    justify-content: space-evenly;
    background-color: #19312B;
    width: 100%;
    padding: 75px;
    box-sizing: border-box;
}

.paragraphTitle__profileContainer {
    width: 35%;
    text-align: center;
}

.paragraphTitle__profileContainer>p {
    text-align: left;
    color: #FCF8E3;
    font-size: 50px;
    width: 50%;
    border-bottom: 1px solid #FCF8E3;
    padding-bottom: 10px;
    font-weight: 400;
}

.paragraphTitle__profileContainer>img {
    width: 100%;
}

.paragraphTitle__sentenceContainer {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.paragraphTitle__sentenceContainer>p {
    width: 70%;
    color: white;
    font-size: 25px;
}

.title__line_container {
    width: 45%;

}