.misiPendiri__top {
  display: flex;
  padding-bottom: 6%;
  padding-top: 4%;
}

.misiPendiri__top__left {
  width: 50%;
}

.misiPendiri__top__left__titleContainer {
  padding-left: 7%;
  display: flex;
}

.misiPendiri__top__left__titleContainer > p {
  color: #2a5349;
  font-weight: 800;
  font-size: 50px;
  width: 25%;
  border-bottom: 1px solid #2a5349;
  padding-bottom: 1%;
}

.misiPendiri__top__right {
  width: 50%;
}

.misiPendiri__top__right__paragraphContainer {
  margin: 0 10%;
}

.misiPendiri__top__right__paragraphContainer > p {
  color: #2a5349;
  text-align: justify;
  font-size: 25px;
}

.misiPendiri__bottom {
  display: flex;
  padding-top: 6%;
  padding-left: 5%;
  padding-bottom: 8%;
}

.misiPendiri__bottom__left {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.misiPendiri__bottom__left > p {
  color: #2a5349;
  text-align: justify;
  font-size: 25px;
  padding-left: 15%;
}

.misiPendiri__bottom__right {
  width: 50%;
  margin-left: 15%;
  position: relative;
}

.misiPendiri__bottom__right > img {
  position: absolute;
  right: 5%;
  top: -115%;
}
