.siapaKami {
   padding-top: 10%;
  }

.siapaKami__background {
  width: 50%;
  margin: 0 50% 10%;
  transform: translateX(-50%);
  background-color: #d9d9d9;
  padding: 15% 1% 3% 1%;
  position: relative;
}

.siapaKami__background__container {
  background-color: #fcf8e3;
  position: relative;
  bottom: 2%;
  display: flex;
}

.siapaKami__background__container__right {
    width: 50%;
    padding: 5%;
}


.siapaKami__background__container__left {
    width: 50%;
    padding-left: 5%;
}

.siapaKami__background__container__left__more>a {
    padding-top: 0%;
}

.siapaKami__background__container__right>p {
    text-align: justify;
}

.siapaKami__background__container__left__title>div {
    color: #2A5349;
    font-size: 35px;
    border-bottom: 2px solid #2A5349;
    font-weight: 800;
    width: 60%;
    margin-top: 6%;
    margin-bottom: 1%;
}
