.navCard {
  color: #2a5349;
  width: 80%;
  margin: 0 50%;
  transform: translate(-50%);
}

.navCard__titleContainer > p {
  text-decoration: underline;
  text-decoration-thickness: 25%;
  text-underline-offset: 40%;
  font-weight: bold;
  font-size: 32px;
}

.navCard__textContainer > p {
  text-align: justify;
  padding-top: 2%;
}

.navcard__button {
  background-color: #2a5349;
  width: 25%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;

}
.navcard__button > a {
  color: #f8f9fa;
  text-underline-offset: 25%;
  font-style: italic;
}
