.donasi {
  padding-top: 20%;
  padding-bottom: 20%;
}

.donasi__title__textContainer {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  text-decoration: underline;
  text-underline-offset: 10%;
  text-decoration-thickness: 5%;
  color: #19312b;
}

.donasi__subtitle__textContainer {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  color: #19312b;
  padding-top: 0.5%;
}

.donasi__form {
  padding-top: 5%;
  padding-left: 3%;
}

.donasi__form__name {
  padding-bottom: 5%;
  padding-left: 5%;
  color: #2a534a;
  font-weight: 900;
}

.donasi__form__message {
  padding-left: 5%;
  color: #2a534a;
  font-weight: 900;
}

.donasi__button__wa {
  margin-top: 5%;
  margin-left: 78%;
}

.donasi__button__wa > a {
  padding: 3%;
  color: #ffffff;
  background-color: #19312b;
  width: 1%;
}

.donasi__form__message__container{
    padding-bottom: 1%;
}

.form-control-override{
    height: 5vh;
    width: 71vw;

}
