.header {
    width: 100vw;
}

.header__text_container {
    margin-top: 10%;
    margin-left: 5%;
}

.header__title {
    margin: 0 10px;
    padding-bottom: 10px;
    color: #19312B;
    font-style: bold;
    font-size: 64px;
    width: 45%;
}

.header__subtitle {
    margin: 0 10px;
    color: #19312B;
    font-size: 20px;
    padding-bottom: 10px;
}

.header__line_container {
    width: 45%;
    height: 10px;
    background-color: #19312B;
}