.missionProject__header {
  background-color: #2a5349;
}

.missionProject__sit__decoration__title {
  text-decoration: underline;
  text-decoration-thickness: 25%;
  text-underline-offset: 40%;
  font-weight: 1000;
  font-size: 26px;
}

.missionProject__title {
  text-align: right;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 32px;
    font-weight: bold;
    color: #2a534a;
}

.missionProject__title > u {
  text-underline-offset: 15px;
  text-decoration-thickness: 25%;
  text-underline-offset: 40%;
}

.missionProject__header__text{
  padding: 10%;
}

.missionProject__header__text>p {
  font-weight: 500;
  font-size: 50px;
  color: #fcf8e3;
  text-decoration: underline;
  text-underline-offset: 30%;
}

.missionProject__lingkunganBinaan {
  display: flex;
  padding-top: 10%;
}

.missionProject__lingkunganBinaan__navCard {
  width: 60%;
}

.missionProject__lingkunganBinaan__decoration {
  width: 40%;
  height: 100%;
  text-align: center;
}

.missionProject__lingkunganBinaan__decoration__image {
  position: relative;
  width: 100%;
}

.missionProject__lingkunganBinaan__decoration__image > img {
  position: relative;
    z-index: 2;
    width: 75%;
}

.missionProject__lingkunganBinaan__decoration__image::after {
  width: 90%;
    position: absolute;
    content: '';
    background: #17404d;
    height: 50%;
    right: 53%;
    bottom: 0;
    transform: translateX(50%) translateY(20%);
    z-index: 1;
}

.missionProject__sekolahInklusif__decoration {
  width: 50%;
}

.missionProject__sekolahInklusif__navCard {
  width: 50%;
}

.missionProject__sekolahInklusif__decoration__image {
  position: relative;
  width: 100%;
  text-align: center;
}

.missionProject__sekolahInklusif__decoration__image > img {
  position: relative;
  z-index: 2;
  width: 75%;
}

.missionProject__sekolahInklusif__decoration__image::after {
  width: 65%;
  position: absolute;
  content: '';
  background: #2a5349;
  height: 65%;
  right: 0;
  bottom: 0%;
  transform: translateY(25%) translateX(-8%);
  z-index: 1;
}

.missionProject__sit {
  display: flex;
  padding-top: 5%;
}

.missionProject__sit__left_image {
  width: 36%;
  text-align: right;
}

.missionProject__sit__left_image > img {
  width: 70%;
}

.missionProject__sit__decoration {
  width: 33%;
}

.missionProject__sit__decoration__image {
  width: 100%;
  position: relative;
}


.missionProject__sit__decoration__image::after {
  width: 40%;
  position: absolute;
  content: '';
  background: #2a5349;
  height: 145%;
  right: 26%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.missionProject__sit__decoration__image > img {
  width: 65%;
  position: relative;
  z-index: 2;
}

.missionProject__sit__navCard {
  width: 30%;
}

.missionProject__sekolahInklusif {
  display: flex;
  padding-top: 10%;
}

.missionProject__sekolahInklusif__decoration {
  width: 50%;
}

.missionProject__sit__decoration__title {
  font-weight: 1000;
  font-size: 26px;
  color: #2a5349;
}
