.footer{
    display: flex;
    background-color: #19312B;
}

.footer__left {
    width: 50%;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 5%;
}

.footer__left__sloganContainer {
    
}

.footer__left__sloganContainer>div {
    color: #FCF8E3;
    font-style: italic;
}

.footer__left__linkContainer{
    padding-top: 1%;
}

.footer__left__linkContainer>a{
    color: #FCF8E3;
    padding-right: 1%;
    text-decoration: underline;
    text-underline-offset: 6px;
    font-style: italic;
}

.footer__right {
    width: 50%;
    padding-top: 3%;
    padding-right: 5%;
}

.footer__right__contactInfoContainer>div{
    color: #FCF8E3;
    text-align: right;
    font-style: italic;
    font-size: 25px;
}


.footer__right__titleContainer>p{
    color: #FCF8E3;
    text-align: right;
    font-size: 25px;

    
}