.nextProject {
    padding-top: 18%;
    color: #19312B
}

.nextProject__top__textContainer {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  color: #19312B;
  text-decoration: underline;
  text-underline-offset: 40%;
}

.nextProject__middle {
  display: flex;
  padding-top: 5%;
  padding-bottom: 3%;
  padding-left: 8%;
}

.nextProject__middle__left {
  width: 50%;
  padding-top: 2%;
}

.nextProject__middle__left__textContainer {
    font-size: 30px;
    text-align: justify;
}

.nextProject__middle__right {
  width: 50%;
  margin-left: 10%;
  border-left: 2px solid #000000;
  padding-left: 8%;
  padding-left: 2%;
  padding-top: 4%;
  font-size: 20px;
}

.nextProject__bottom__textContainer {
  text-align: center;
  width: 50%;
  padding-left: 50%;
  padding-top: 6%;
  transform: translateX(-23%);
  padding-bottom: 20%;
  font-size: 28px;
  font-style: italic;
}
