.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0px;
}

.navbar__logo_container>img {
  margin: 0 10px;
}

.navbar__link_container {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.navbar__link_container>li {
  list-style-type: none;
  text-underline-offset: 10px;
  margin: 0 10px;
  text-decoration: underline;
  text-decoration-color: #19312B;
  color: #19312B;
  font-style: italic;
}

#navbar__active {
  font-style: normal;
  text-decoration: none;

}

.navbar__link_container>li>a {
  text-decoration: none;
  color: #19312B;
}