@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather'), url(./fonts/Merriweather-Black.ttf) format('ttf');
}

.Merriweather {
    font-family: 'Merriweather';
}
.DarkParadise {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #FCF8E3;
}