.visionMission__top__titleContainer {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  color: #17404d;
  text-decoration: underline;
  text-underline-offset: 30%;
  padding-bottom: 10%;
}

.visionMission__top {
  display: flex;
}

.visionMission__top__left {
  width: 40%;
  text-align: center;
}

.visionMission__top__right {
  width: 45%;
  position: relative;
}

.visionMission__top__right__paragraph {
  width: 100%;
  font-size: 20px;
}

.visionMission__top__right__image {
  position: absolute;
  right: 0;
  margin-top: 10%;
}

.visionMission__center {
  width: 30%;
  margin: 5% auto;
}

.visionMission__center__paragraph {
  font-size: 20px;
  text-align: center;
}

.visionMission__bottom__image_left {
  margin-top: 10%;
  margin-left: 15%;
}
.visionMission__bottom__image_right {
  float: right;
  margin-right: 15%;
}

.visionMission__end {
  text-align: right;
}

.visionMission__end_img {
  margin-right: 15%;
  width: 60%;
  margin-top: -8%;
}
